body{

    background-color: #b39ddb; 
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table th , table td{
    text-align: center;
    border: 1px solid black;
}

table tr:nth-child(even){
    background-color: #f8bbd0
}

.pagination li:hover{
    cursor: pointer;
}
		table body tr {
			display: none;
		}
